COVERFORGE_BIND=127.0.0.1:3099
COVERFORGE_TEMPLATE_DIR=./templates
COVERFORGE_OUTPUT_DIR=./output
COVERFORGE_ASSET_ROOTS=./examples/assets
COVERFORGE_FONT_DIR=/usr/share/fonts/truetype/league-spartan
RUST_LOG=coverforge=info,tower_http=info
